#documentArea {
	-fx-border-color: gray;
}

#documentHeadlineBox {
	-fx-border-color: gray;
}

.button:hover, .menu-button:hover {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#openFileButton {
	-fx-text-fill: green;
}

.errorDirectoryInput {
	-fx-border-color: red;
	-fx-border-width: 2;
}

.fileRecordView {
	-fx-border-color: transparent transparent rgba(145, 145, 145, 0.6) transparent;
}

.fileRecordViewSelected {
	-fx-background-color: lightblue;
}